<section class="about-section">
  <div class="about-image">
    <%= image_tag "livanpassosabout.png", alt: "Livan Passos sobre mim", class: "about-avatar-img" %>
  </div>

  <div class="about-content">
    <h1>Sobre mim</h1>
    <p>Minha jornada na tecnologia, iniciada em 2020 e solidificada em 2024 com o desenvolvimento web, culminou em 2025 com a paixão por Ruby e Ruby on Rails. Desde então, atuo como Desenvolvedor Fullstack, construindo soluções web escaláveis e eficientes que buscam impactar positivamente a vida das pessoas.</p>

    <p>Sou movido pela capacidade de transformar ideias em aplicações funcionais, com um compromisso inabalável com a excelência e um olhar atento para código limpo e boa arquitetura. Tenho experiência prática no desenvolvimento de aplicações Ruby on Rails com código limpo e boa arquitetura, utilizando PostgreSQL e SQLite3 para gerenciamento de dados. Tenho proficiência em front-end com JavaScript (ES6+), HTML5, CSS3, além de ferramentas modernas como Hotwire (Turbo e Stimulus.js) e Sass/SCSS.</p>

    <p>Minha expertise se estende à implantação e gerenciamento de aplicações em ambientes de produção Linux (Ubuntu). Possuo habilidade comprovada na configuração de servidores web (Nginx) e de aplicação (Puma), implementação de HTTPS com Certbot/Let's Encrypt, gerenciamento de dependências via rbenv e Bundler, e configuração de serviços com Systemd. Destaco minha forte capacidade de depuração e resolução de problemas complexos de infraestrutura e conectividade (incluindo 502 Bad Gateway, loops de redirecionamento HTTPS e acesso a sockets/portas).</p>

    <p>No meu dia a dia, aplico as melhores práticas de Git para controle de versão, trabalho com a metodologia Ágil (Scrum) e sou experiente em depuração de sistemas. Meu ambiente de desenvolvimento inclui WSL2/Ubuntu e VS Code. Sou um profissional de aprendizado rápido, com excelente habilidade de comunicação, aberto a feedback e com forte capacidade de organização e gerenciamento de projetos.</p>
    
  </div>
</section>