<section class="about-section">
  <div class="about-image">
    <%= image_tag "livanpassosabout.png", alt: "Livan Passos sobre mim", class: "about-avatar-img" %>
  </div>

  <div class="about-content">
    <h1>Sobre mim</h1>
    <p>Meu nome é Livan Passos e sou um apaixonado por tecnologia. Meu primeiro contato com programação foi em 2015, quando ainda estava no ensino médio. Apesar de ter gostado da área, só comecei a dar o devido foco em 2021, quando um amigo me apresentou o desenvolvimento web.</p>
    <p>Hoje já entendo tecnologias voltadas para o Front-end. Também gosto de “brincar” com design no figma, criando interfaces para projetos pessoais e de amigos.</p>
  </div>
</section>