<section class="about-section">
  <div class="about-image">
    <%= image_tag "livanpassosabout.png", alt: "Livan Passos sobre mim", class: "about-avatar-img" %>
  </div>

  <div class="about-content">
    <h1>Sobre mim</h1>
    <p>Minha jornada na tecnologia começou em 2020 e se solidificou em 2024, quando me encontrei com o desenvolvimento web e, em 2025, me apaixonei pela linguagem Ruby e pelo framework Ruby on Rails. Desde então, desenvolvo aplicações web Fullstack, construindo soluções que impactam positivamente a vida das pessoas.</p>
    <p>Sou apaixonado pela capacidade de transformar ideias em aplicações funcionais e escaláveis, sempre buscando um nível de excelência elevado.</p>
    <p>Possuo experiência prática no desenvolvimento de aplicações Ruby on Rails com código limpo e boa arquitetura, utilizando PostgreSQL e SQLite3 para gerenciamento de dados. Tenho proficiência em JavaScript (ES6+), HTML5, CSS3, e ferramentas modernas como Hotwire (Turbo e Stimulus.js) e Sass/SCSS.</p>
    <p>No meu dia a dia, aplico as melhores práticas de Git para controle de versão, trabalho com a metodologia Ágil (Scrum) e sou experiente em depuração de sistemas. Meu ambiente de desenvolvimento inclui WSL2/Ubuntu e VS Code.</p>
    <p>Sou um profissional com aprendizado rápido, boa habilidade de comunicação, aberto a feedback e com forte capacidade de organização e gerenciamento de projetos.</p>
  </div>
</section>