<section class="contact-section">
  <h1>Contact</h1>
  <p>Contact e-mail: livansena@gmail.com</p>

  <div class="contact-social-links">
  <a href="https://www.linkedin.com/in/livanpassos" target="_blank" class="button-social linkedin-button">LinkedIn</a>
  <a href="https://github.com/livansena" target="_blank" class="button-social github-button">Github</a>
  <a href="/Livan-Passos-EN.pdf" target="_blank" class="button-social resume-button">Resume</a>
</div>

</section>