<section class="contact-section">
  <h1>Contato</h1>
  <p>E-mail para contato: livansena@gmail.com</p>

  <div class="contact-social-links">
  <a href="https://www.linkedin.com/in/livanpassos" target="_blank" class="button-social linkedin-button">LinkedIn</a>
  <a href="https://github.com/livansena" target="_blank" class="button-social github-button">GitHub</a>
</div>
</section>