<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Hello, I am <br> Livan Passos.</h1>
    <p>Fullstack Developer</p>

   <div class="social-buttons-container">
  <a href="https://www.linkedin.com/in/livanpassos" target="_blank" class="button-social linkedin-button">LinkedIn</a>
  <a href="https://github.com/livansena" target="_blank" class="button-social github-button">Github</a>
  <a href="/Livan-Passos-EN.pdf" class="button-social resume" target="_blank">Resume</a>
</div>

  </div>
  <div class="hero-image">
    <%= image_tag "livanpassos.png", alt: "Avatar de Livan Passos", class: "avatar-img" %>
  </div>
</section>