<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Oi, eu sou <br> Livan Passos.</h1>
    <p>Desenvolvedor Fullstack</p>

    <div class="social-buttons-container">
      <a href="https://www.linkedin.com/in/livanpassos" target="_blank" class="button-social linkedin-button">Linkedin</a>
      <a href="https://github.com/livansena" target="_blank" class="button-social github-button">Github</a>
    </div>

  </div>
  <div class="hero-image">
    <%= image_tag "livanpassos.png", alt: "Avatar de Livan Passos", class: "avatar-img" %>
  </div>
</section>